backports.functools-lru-cache==1.4
cycler==0.10.0
decorator==4.1.2
matplotlib==2.2.3
networkx==2.2
numpy==1.13.3
olefile==0.44
pandas==0.24.1
Pillow==8.3.2
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
six==1.11.0
torch==1.1.0
torchvision==0.3.0
